namespace Procurement.Application.Responses
{
    public class {{.CapsResourceNameSingular}}Response
    {
        public int Id { get; protected set; }
        /********************************************************/
        public string Name { get; set; }
    }
}
