[submodule "core/templates/compage-template-go"]
	path = core/templates/compage-template-go
	url = git@github.com:intelops/compage-template-go.git
    branch = template-v8
[submodule "core/templates/compage-template-java"]
	path = core/templates/compage-template-java
	url = https://github.com/intelops/compage-template-java.git
    branch = template-v1
[submodule "core/templates/compage-template-javascript"]
	path = core/templates/compage-template-javascript
	url = https://github.com/intelops/compage-template-javascript.git
    branch = template-v1
[submodule "core/templates/compage-template-python"]
	path = core/templates/compage-template-python
	url = https://github.com/intelops/compage-template-python.git
    branch = template-v1
[submodule "core/templates/compage-template-ruby"]
	path = core/templates/compage-template-ruby
	url = https://github.com/intelops/compage-template-ruby.git
    branch = template-v1