/node_modules/
/app/build/
/app/node_modules/
/.devspace/
/.idea/
/.devspace/logs/default.log
/scratch/
/.idea
/coverage.out
/coverage
openapitools.json
/openapitools.json
/deploy/build/
compage
/config.yaml

dist/
/cosign.key
/cosign.pub
/myproject/.github/workflows/user-service-ci.yml
/myproject/.github/workflows/user-service-release.yml
/myproject/user-service/.devcontainer/devcontainer.json
/myproject/user-service/.devcontainer/Dockerfile
/myproject/user-service/config/rest-opentel-config.go
/myproject/user-service/kubernetes/deployment.yaml
/myproject/user-service/kubernetes/service.yaml
/myproject/user-service/pkg/rest/server/controllers/user-controller.go
/myproject/user-service/pkg/rest/server/daos/clients/sqls/map.go
/myproject/user-service/pkg/rest/server/daos/user-dao.go
/myproject/user-service/pkg/rest/server/models/user-model.go
/myproject/user-service/pkg/rest/server/services/user-service.go
/myproject/user-service/.gitignore
/myproject/user-service/devspace.yaml
/myproject/user-service/devspace_start.sh
/myproject/user-service/Dockerfile
/myproject/user-service/go.mod
/myproject/user-service/go.sum
/myproject/user-service/main.go
/myproject/user-service/README.md
/myproject/user-service/useful-commands
/myproject/.deepsource.toml
/myproject/LICENSE
/myproject/README.md
