/node_modules/
/app/build/
/app/node_modules/
/core/.devspace/
/core/.idea/
/.devspace/logs/default.log
/app/scratch/
/core/core
/.idea
/core/coverage.out
/app/coverage
openapitools.json
/core/openapitools.json
/ui/.env.kind.cluster
/app/compage-app.sqlite3
