/node_modules/
/app/build/
/app/node_modules/
/.devspace/
/.idea/
/.devspace/logs/default.log
/scratch/
/.idea
/coverage.out
/coverage
openapitools.json
/openapitools.json
/deploy/build/
compage
/config.yaml
