
$primary-color: #1D88FE;
$border-color: #005DFF;

.custom-button {
  background: $primary-color 0% 0% no-repeat padding-box;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
