package client

import (
	"io"
	"net/http"
)

func Execute() ([]byte, error) {
	response, err := http.Get("{{.ClientServiceName}}:{{.ClientPort}}/ping")

	if err != nil {
		return nil, err
	}

	return io.ReadAll(response.Body)
}
