using MediatR;
using Procurement.Application.Responses;

namespace Procurement.Application.Queries.{{.CapsResourceNameSingular}}Service
{

    public class GetAll{{.CapsResourceNameSingular}}Query : IRequest<List<{{.CapsResourceNameSingular}}Response>>
    {

    }
}
