# {{.GitPlatformUserName}}/{{.GitRepositoryName}}/{{.NodeName}}
{{.NodeName}}

{{if .IsRestServer }}
### REST Server
{{end}}

{{if .IsRestSQLDB }}
    {{if eq .RestSQLDB "MySQL" }}
### MySQL Properties for REST
export MYSQL_DB_USER=root
export MYSQL_DB_PASSWORD=password
export MYSQL_DB_HOST=
export MYSQL_DB_PORT=
export MYSQL_DB_DATABASE=
    {{end}}
{{end}}

{{if .IsRestNoSQLDB }}
    {{if eq .RestNoSQLDB "MongoDB" }}
### MongoDB Properties for REST
export MONGO_DB_USER=root
export MONGO_DB_PASSWORD=password
export MONGO_DB_HOST=localhost
export MONGO_DB_PORT=27017
export MONGO_DATABASE=rest-server-db
    {{end}}
{{end}}

{{if .IsGrpcServer }}
### gRPC Server
{{end}}

{{if .IsGrpcSQLDB }}
    {{if eq .GrpcSQLDB "MySQL" }}
### MySQL Properties for gRPC
export MYSQL_DB_USER=root
export MYSQL_DB_PASSWORD=password
export MYSQL_DB_HOST=
export MYSQL_DB_PORT=
export MYSQL_DB_DATABASE=
    {{end}}
{{end}}

{{if .IsGrpcNoSQLDB }}
    {{if eq .GrpcNoSQLDB "MongoDB" }}
### MongoDB Properties for gRPC
export MONGO_DB_USER=root
export MONGO_DB_PASSWORD=password
export MONGO_DB_HOST=localhost
export MONGO_DB_PORT=27017
export MONGO_DATABASE=grpc-server-db
    {{end}}
{{end}}

[![Open in DevPod!](https://devpod.sh/assets/open-in-devpod.svg)](https://devpod.sh/open#https://{{.GitPlatformURL}}/{{.GitPlatformUserName}}/{{.GitRepositoryName}}/{{.NodeName}})