using Microsoft.Extensions.Logging;
using Procurement.Core.Entities;

namespace Procurement.Infrastructure.Data
{

    public class ApplicationDbContextSeed
    {
        public static async Task SeedAsync(ApplicationDbContext applicationDbContext, ILogger<ApplicationDbContextSeed> logger)
        {
           
        }

        
    }
}
