using MediatR;

namespace Procurement.Application.Commands.{{.CapsResourceNameSingular}}Service
{
    public class Create{{.CapsResourceNameSingular}}Command : IRequest<int>
    {
        public int Id { get; set; }
        /********************************************************/
        public string Name { get; set; }

    }
}
