using MediatR;

namespace Procurement.Application.Commands.{{.CapsResourceNameSingular}}Service
{

    public class Delete{{.CapsResourceNameSingular}}Command : IRequest
    {
        public int Id { get; set; }
    }
}
