syntax = "proto3";

package pb;
option go_package="./api/v1;pb";

service {{ .CapsResourceNameSingular }}Service {
    rpc Ping ({{.CapsResourceNameSingular}}Request) returns ({{.CapsResourceNameSingular}}Response) {};
    {{ if .IsGRPCCreateAllowed }}
    rpc Create{{.CapsResourceNameSingular}} (Create{{.CapsResourceNameSingular}}Request) returns (Create{{.CapsResourceNameSingular}}Response) {};
    {{ end }}
    {{ if .IsGRPCListAllowed }}
    rpc List{{.CapsResourceNamePlural}} (List{{.CapsResourceNamePlural}}Request) returns (List{{.CapsResourceNamePlural}}Response) {};
    {{ end }}
    {{ if .IsGRPCGetAllowed }}
    rpc Get{{.CapsResourceNameSingular}} (Get{{.CapsResourceNameSingular}}Request) returns (Get{{.CapsResourceNameSingular}}Response) {};
    {{ end }}
    {{ if .IsGRPCPutAllowed }}
    rpc Update{{.CapsResourceNameSingular}} (Update{{.CapsResourceNameSingular}}Request) returns (Update{{.CapsResourceNameSingular}}Response) {};
    {{ end }}
    {{ if .IsGRPCDeleteAllowed }}
    rpc Delete{{.CapsResourceNameSingular}} (Delete{{.CapsResourceNameSingular}}Request) returns (Delete{{.CapsResourceNameSingular}}Response) {};
    {{ end }}
}

message {{.CapsResourceNameSingular}} {
    int64 id = 1;
    {{range $index, $value := .FieldNames}}
    {{index $.ProtoFields $value}} {{$value}} = {{incCount $index}};
    {{end}}
}

{{ if .IsGRPCCreateAllowed }}
message Create{{.CapsResourceNameSingular}}Request {
    {{.CapsResourceNameSingular}} {{.SmallResourceNameSingular}} = 1;
}

message Create{{.CapsResourceNameSingular}}Response {
    string message = 1;
}
{{ end }}

{{ if .IsGRPCListAllowed }}
message List{{.CapsResourceNamePlural}}Request {

}

message List{{.CapsResourceNamePlural}}Response {
    repeated {{.CapsResourceNameSingular}} {{.SmallResourceNameSingular}} = 1;
}
{{ end }}

{{ if .IsGRPCGetAllowed }}
message Get{{.CapsResourceNameSingular}}Request {
    int64 id = 1;
}

message Get{{.CapsResourceNameSingular}}Response {
    {{.CapsResourceNameSingular}} {{.SmallResourceNameSingular}} = 1;
}
{{ end }}

{{ if .IsGRPCPutAllowed }}
message Update{{.CapsResourceNameSingular}}Request {
    int64 id = 1;
    {{.CapsResourceNameSingular}} {{.SmallResourceNameSingular}} = 2;
}

message Update{{.CapsResourceNameSingular}}Response {
    string message = 1;
}
{{ end }}

{{ if .IsGRPCDeleteAllowed }}
message Delete{{.CapsResourceNameSingular}}Request {
    int64 id = 1;
}

message Delete{{.CapsResourceNameSingular}}Response {
    string message = 1;
}
{{ end }}

message {{.CapsResourceNameSingular}}Request {}

message {{.CapsResourceNameSingular}}Response {
    string message = 1; 
}