{
  "name": "Go",
  "build": {
    "dockerfile": "Dockerfile"
  },
  "features": {
    "ghcr.io/devcontainers/features/docker-in-docker:2": {
      "version": "latest"
    }
  },
  "postCreateCommand": "kind create cluster --name {{.ProjectName}} || true",
  "mounts": [
    {
      "type": "volume",
      "source": "{{.NodeName}}",
      "target": "/home/vscode"
    }
  ],
  "customizations": {
    "devpod": {
      "prebuildRepository": "fdog239/prebuilds"
    },
    "vscode": {
      "settings": {},
      "extensions": [
        "streetsidesoftware.code-spell-checker"
      ]
    }
  },
  "forwardPorts": [
    {{if and .IsRestServer .IsGrpcServer}}
        {{.GrpcServerPort}},
        {{.RestServerPort}}
    {{else if .IsGrpcServer }}
        {{.GrpcServerPort}}
    {{else if .IsRestServer }}
        {{.RestServerPort}}
    {{end}}
  ],
  "portsAttributes": {
    {{if and .IsRestServer .IsGrpcServer}}
        "{{.GrpcServerPort}}": {
          "label": "Hello Remote World",
          "onAutoForward": "notify"
        },
        "{{.RestServerPort}}": {
          "label": "Hello Remote World",
          "onAutoForward": "notify"
        }
    {{else if .IsGrpcServer }}
        "{{.GrpcServerPort}}": {
          "label": "Hello Remote World",
          "onAutoForward": "notify"
        }
    {{else if .IsRestServer }}
        "{{.RestServerPort}}": {
          "label": "Hello Remote World",
          "onAutoForward": "notify"
        }
    {{end}}
  }
}