.input-container {
  margin-bottom: 20px;

  .input-label {
    font-size: 14px;
    font-family: "Roboto", "sans-serif";
    color: "#020f1e";
    margin-bottom: 5px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #f0f6ff;

    border-radius: 16px;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .input-error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }
}
