{{if .IsServer }}
curl -X POST -d 'id=123&name=John&city=Pune'

curl -X POST -H "Content-Type: application/json" \
-d '{"id":"123","name": "John", "city": "Pune"}' \
http://localhost:8080/v1/users

curl -X GET -H "Content-Type: application/json" \
http://localhost:8080/v1/users

curl -X PUT -H "Content-Type: application/json" \
-d '{"id":"123","name": "John", "city": "Pune"}' \
http://localhost:8080/v1/users/123

### wrong id passed in param
curl -X PUT -H "Content-Type: application/json" \
-d '{"id":"123","name": "John", "city": "Pune"}' \
http://localhost:8080/v1/users/1234

curl -X GET -H "Content-Type: application/json" \
http://localhost:8080/v1/users/123

curl -X DELETE -H "Content-Type: application/json" \
http://localhost:8080/v1/users/123
{{end}}