using Procurement.Core.Entities;


namespace Procurement.Core.Repositories
{

    public interface I{{.CapsResourceNameSingular}}Repository : IAsyncRepository<{{.CapsResourceNameSingular}}>
    {

    }


}
