@import url(../styles/mixins.css);
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

html .sb-show-main.sb-main-padded, body .sb-show-main.sb-main-padded {
  padding: 0; }

#diagramMakerContainer {
  position: relative !important;
  color: var(--diagram-maker-text-color);
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid red; }

.dm-view .dm-panels {
  top: 90px;
  left: 2px; }

.dm-view .dm-panels .dm-panel .dm-content {
  padding: 5px; }

.library {
  height: 560px;
  width: 140px;
  top: 5px;
  overflow: hidden; }

.library .draggableElement {
  height: 20px;
  background: var(--diagram-maker-container_disabled-background-color); }

.example-node {
  box-sizing: border-box;
  border: 1px solid var(--diagram-maker-border-color);
  background-color: var(--diagram-maker-container-background-color);
  padding: 10px;
  height: 100%;
  transition: all .2s ease; }

.example-node.odd {
  border: 1px solid #00ef73; }

.example-node.even {
  border: 1px solid blue; }

.example-node.selected {
  border: 1px solid #0073bb; }

.example-node input, .example-node select {
  background-color: var(--diagram-maker-input-background-color);
  border: var(--diagram-maker-input-border);
  color: var(--diagram-maker-text-color); }

.testInput {
  background-color: var(--diagram-maker-input-background-color);
  border: var(--diagram-maker-input-border);
  color: var(--diagram-maker-text-color);
  width: 100%; }

.contextMenu {
  box-shadow: 0 1px 1px 0 var(--diagram-maker-border-shadow-30-perc), 1px 1px 1px 0 var(--diagram-maker-border-shadow-15-perc), -1px 1px 1px 0 var(--diagram-maker-border-shadow-15-perc);
  border-top: 1px solid var(--diagram-maker-border-color);
  border-radius: 0;
  box-sizing: border-box;
  background-color: var(--diagram-maker-container-background-color);
  padding: 5px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contextMenu {
    border: 1px solid var(--diagram-maker-border-color); } }

.hello .dm-view .dm-workspace {
  border: 1px red solid;
  overflow: hidden;
  position: relative !important;
  top: 75px;
  max-width: 1000px;
  max-height: 592px; }

.outer {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.example-node.circle {
  border-radius: 100%;
  padding: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.edgeBadge {
  background: var(--diagram-maker-container-background-color);
  padding: 5px;
  width: 80px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 5px; }
