@import './common.scss';

.rectangle-image {
  width: 65px;
  height: 65px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  margin: 0;
  padding: 0;
}

.example-node {
  &.rectangle {
    border-radius: 3px;
    &.potential-node {
      width: 110px;
      height: 50px;
      margin: auto;
      margin-top: 6px;
    }

    &.connector-node {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    input, select {
      width: 100%;
    }
  }
}

.outer-rectangle {
  border-radius: 0%;
}
