apiVersion: v1
kind: Service
metadata:
  namespace: {{.NodeName}}
  labels:
    app: {{.NodeName}}
  name: {{.NodeName}}
spec:
  ports:
  {{if .IsRestServer }}
    - protocol: TCP
      port: {{.RestServerPort}}
      targetPort: {{.RestServerPort}}
   {{end}}
   {{if .IsGrpcServer }}
    - protocol: TCP
      port: {{.GrpcServerPort}}
      targetPort: {{.GrpcServerPort}}
   {{end}}
  selector:
    app: {{.NodeName}}
  type: ClusterIP
