package client

import (
	"context"
	"log"
    pb "{{.GitPlatformURL}}/{{.GitPlatformUserName}}/{{.GitRepositoryName}}/{{.NodeName}}/gen/api/v1"

	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)


func Execute(){
    url := "localhost:{{.GrpcServerPort}}"

    conn, err := grpc.Dial(url ,grpc.WithTransportCredentials(insecure.NewCredentials()))

    if err != nil {
		log.Errorf("error occurred: %v", err)
		return
	}

    {{.SmallResourceNameSingular}}Client := pb.New{{.CapsResourceNameSingular}}ServiceClient(conn)

    ping, err := {{.SmallResourceNameSingular}}Client.Ping(context.Background(), &pb.{{.CapsResourceNameSingular}}Request{})

    if err != nil {
		log.Errorf("error occurred: %v", err)
        return
	}

    log.Println(ping)
}   