package models

type {{.CapsResourceNameSingular}} struct {
    Id int64 `json:"id,omitempty"`
{{range $k, $v := .Fields}}
    {{if eq $k "Id"}}
    {{else}}
    {{$k}} {{AddPointerIfCompositeField $k}} `json:"{{ToLowerCamelCase $k}},omitempty"`
    {{end}}
{{end}}
}