package models

import "gorm.io/gorm"

type {{.CapsResourceNameSingular}} struct {
	gorm.Model
    Id int64 `gorm:"primaryKey;autoIncrement" json:"ID,omitempty"`
{{range $k, $v := .Fields}}
    {{if eq $k "Id"}}
    {{else}}
    {{AddForeignKeyIfCompositeField $k $v}}
    {{end}}
{{end}}
}